.image-top{
	background-image: url(/Recursos/Links/PNG/wave-top.png);
}

.image-mid{
	background-image: url(/Recursos/Links/PNG/wave-mid.png);
}

.image-bot{
	background-image: url(/Recursos/Links/PNG/wave-bot.png);
}

@keyframes move_wave {
	0% {
			transform: translateX(0) translateZ(0) scaleY(1)
	}
	50% {
			transform: translateX(-25%) translateZ(0) scaleY(0.55)
	}
	100% {
			transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}
.wavewrap {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}
.wavewrpinr {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100%;
	bottom: -1px;
	background-image: linear-gradient(to top, #acbfff 20%, #fff 80%);
}
.topBg {
	z-index: 15;
	opacity: 0.5;
}
.middleBg {
	z-index: 10;
	opacity: 0.75;
}
.botomBg {
	z-index: 5;
}
.wave {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
}
.topwev {
	background-size: 50% 100px;
}
.waveAnimation .topwev {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveAnimation .topwev{
	animation: move_wave 10s linear infinite;
}
.middlWev {
	background-size: 50% 120px;
}
.waveAnimation .middlWev {
	animation: move_wave 15s linear infinite;
}
.botomWev {
	background-size: 50% 100px;
}
.waveAnimation .botomWev {
	animation: move_wave 20s linear infinite;
}

